.sidebar {
    background-color: #151371;
    width: 571px;
    /* height: 2718px; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.question {
    align-self: flex-end;
    width: 50px;
    margin: 45px;
    position: relative;
}