.sidebar {
    background-color: #151371;
    width: 25.33vw;
    height: 2718px;
    /* height: 120.59vw */
}
.question {
    width: 80%;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}