.sidebar {
    background-color: #151371;
    width: 20%;
    /* height: 2718px; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    overflow-y: scroll;
}


/* for screen sizes from 1920 - 2254 */

@media only screen and (max-width: 1150px) {
    .sidebar {
        width: 230px;
    }
}
