@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&display=swap');


.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 168px;
    width: 568px;
    height: 657px;
}
.username {
    color: white;
    font-family: 'Red Hat Display',sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}
.profile-border {
    height: 240px;
    width: 240px;
    margin: 27px;
}
.profile-pic {
    width: 211px;
    height: 211px;
}
.profile-icons {
    width: 428.68px;
    height: 25.07px;
    margin: 50px;
    display: flex;
    justify-content: space-between;
}
.icon {
    color: white;
    font-size: 23px;
}