.container {
    margin: 10px 53px;
    padding: 10px;
    color: #ffffff;
}
.dropdown {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-transform: capitalize;
    margin-right: 10px;
}
.dropdown img {
    width: 36px;
}
/* Nav*/
.links {
    width: auto;
    margin: 15px 20px;
    padding: 0 20px;
    transition: display 2s;
    border-left: 1px #ffffff solid;
}

.li {
    list-style: none;
    margin: 35px 0;
}

.a {
    text-decoration: none;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    text-transform: capitalize;
    color: #ffffff;
}

.hide {
    display: none;
}
#dropMenuImg {
    cursor: pointer;
}
/* for screen sizes from 1920 - 2254 */
@media only screen and (max-width: 2254px) {
    .container {
        margin: 8.5px 45px;
        padding: 8.5px;
    }
    .title {
        font-size: 31px;
        line-height: 41px;
        margin-right: 8.5px;
    }
    .dropdown img {
        width: 31px;
    }
    .links {
        margin: 13px 17px;
        padding: 0 17px;
    }
    .li {
        margin: 30px 0;
    }
    .a {
        font-size: 26px;
        line-height: 34px;
    }
}
/* for screen sizes from 1024 - 1920 */
@media only screen and (max-width: 1920px) {
    .container {
        margin: 6px 17px;
        padding: 6px;
    }
    .title {
        font-size: 22px;
        line-height: 29px;
        margin-right: 6px;
    }
    .dropdown img {
        width: 22px;
    }
    .links {
        margin: 9px 12px;
        padding: 0 12px;
    }
    .li {
        margin: 21px 0;
    }
    .a {
        font-size: 18px;
        line-height: 24px;
    }
}
@media only screen and (max-width: 1024px) {
    .container {
        margin: 4.5px 24px;
        padding: 4.5px;
    }
    .title {
        font-size: 17px;
        line-height: 22px;
        margin-right: 4.5px;
    }
    .dropdown img {
        width: 17px;
    }
    .links {
        margin: 7px 9px;
        padding: 0 9px;
    }
    .li {
        margin: 16px 0;
    }
    .a {
        font-size: 14px;
        line-height: 18px;
    }
}