@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
.container {
    width: 80%;
    margin: 20px auto;
    padding: 10px;

    /* typography */
    font-family: 'Red Hat Display', sans-serif;
    color: #ffffff;
}

.dropdown {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.links {
    width: 80%;
    margin: 30px auto;
    padding: 10px;
}
.title {
    font-weight: 700;
    font-size: 26px;
    text-transform: capitalize;
}
.li {
    list-style: none;
    padding: 8px;

    border-left: 1px #ffffff solid;

}

.a {
    padding-left: 2px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    color: #ffffff;
    /* border */
    /* border-left: 2px #ffffff solid; */
}


