.container {
    margin: 10px 0;
    width: 90%;
    /* padding: 10px; */
    color: #ffffff;
}
.dropdown {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-radius: 30px;

}
.dropdown:hover {
    background: linear-gradient(104.61deg, #FF00B8 2.65%, #FF655B 51.83%, #FFC700 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.title {
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: capitalize;
}
.dropdown img {
    width: 22px;
}
/* Navigation */
.links {
    width: auto;
    margin: 10px;   
    padding: 0 12px;
    /* transition: display 2s; */
    border-left: 1px #ffffff solid;
}

.li {
    list-style: none;
    margin: 20px 0;
}
.a {
    padding: 5px;
    text-decoration: none;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 24px;
    text-transform: capitalize;
    color: #ffffff;
    border-radius: 30px;

}
.a:hover{
    background: linear-gradient(104.61deg, #FF00B8 2.65%, #FF655B 51.83%, #FFC700 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hide {
    display: none;
}
#dropMenuImg {
    cursor: pointer;
}
.active {
    background: linear-gradient(104.61deg, #FF00B8 2.65%, #FF655B 51.83%, #FFC700 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 1150px) {
    .title {
        font-size: 18px;
    }
    .a {
        font-size: 16px;
    }
}
