.sideBarHeader {
    width: auto;
    height: 166px;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
.logo {
    width: 146px;
    height: 119px;
}
.title {
    font-family: 'Red Hat Display';
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    color: #FFFFFF;
}
/* for screen sizes from 1920 - 2254 */
@media only screen and (max-width: 2254px) {
    .sideBarHeader {
        height: 142px;
        padding: 0 40px;
    }
    .logo {
        width: 124px;
        height: 100px;
    }
    .title {
        font-size: 26px;
        line-height: 34px;
    }
}
/* for screen sizes from 1024 - 1920 */
@media only screen and (max-width: 1920px) {
    .sideBarHeader {
        height: 100px;
        padding: 0 28px;
    }
    .logo {
        width: 87px;
        height: 70px;
    }
    .title {
        font-size: 18px;
        line-height: 24px;
    }
}
@media only screen and (max-width: 1024px) {
    .sideBarHeader {
        height: 76px;
        padding: 0 21px;
    }
    .logo {
        width: 66px;
        height: 53px;
    }
    .title {
        font-size: 14px;
        line-height: 18px;
    }
}