.sideBarHeader {
    width: auto;
    height: 166px;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
.logo {
    width: 146px;
    height: 119px;
}
.title {
    font-family: 'Red Hat Display';
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    color: #FFFFFF;
}