.child {
    background-color: #fff;
    width: 100%;
    margin: 40px 0;
    border-radius: 12px;
    min-height: 200px;
    padding: 40px;
    position: relative;
    /* left: 22.5%;     */
    top: 20px;
}
.child h2{  
    font-size: 25px;
    position: relative;
    width: 90%;
}
.child p {
    position: relative;
    font-size: 14px;
    font-style: normal;
    color: #333;
    margin-top: 20px;
    width: 90%;

}
.close {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 16px;
}
.close:hover {
    color: red;
    font-size: 18px;
    top: 19px;
    right: 19px;
}