.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: auto;
}

.profileBorder {
    height: 118px;
    width: 118px;
    margin: 28px 0;
}
.profilePic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.username {
    color: white;
    font-family: 'Red Hat Display',sans-serif;
    font-size: 18px;
    line-height: 92.3%;
    letter-spacing: 0em;
    font-weight: 700;
    text-align: center;
}

.profileIcons {
    width: 80%;
    height: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.icon {
    color: white;
    font-size: 18px;
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .profileBorder {
        height: 112px;
        width: 112px;
        margin: 21px 0;
    }
    .profilePic {
        width: 95px;
        height: 95px;
    }
    
    .username {
        font-size: 14px;
    }
    
    .profileIcons {
        /* width: 204px; */
        height: 11px;
        margin-top: 23px;
    }
    .icon {
        font-size: 16px;
    }
}