.overlay {
    background: transparent;
    display: none;
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
}
.sidebar {
    background-color: #151371;
    width: 20vw;
    z-index: 100;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    overflow-y: scroll;
    transition: width 0.5s;
}
.sidebarContainer {
    width: 20vw;
    height: 100vh;
    overflow-x: hidden;
    transition: width 0.5s;
}

@media only screen and (max-width: 1150px) {
    .sidebar, .sidebarContainer {
        overflow-x: hidden;
        width: 230px;
    }
}

@media only screen and (max-width: 600px) {
    .hide, .sidebarContainer {
        overflow-x: hidden;
        width: 0;
    }
    .overlay {
        display: block;
    }
}